NODE_ENV=development

DB_HOST=localhost
DB_PORT=3306
DB_USER=taskflow
DB_PASSWORD=taskflow@029160
DB_NAME=taskflow

DB_SSL=false
# DB_SSL_REJECT_UNAUTHORIZED=true
# DB_POOL_MAX=10

PORT=3000
JWT_SECRET=taskflow_development_jwt_secret
APP_URL=http://localhost:3000
FRONTEND_URL=http://localhost:5173

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=prithulpaultesting@gmail.com
SMTP_PASSWORD=bnno hxdp iiad zjgl
MAIL_FROM="TaskFlow <no-reply@example.com>"

